head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title High pass
  link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
  link(href="fonts/Roboto-Bold.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
  link(href="fonts/Roboto-Regular.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
  link(href="fonts/TTFirsNeue-Bold.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
  link(href="fonts/TTFirsNeue-Medium.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
  link(href="fonts/TTFirsNeue-Regular.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
  link(rel="stylesheet", href="css/style.min.css")
  script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU",type="text/javascript", defer)
  //- script(src="js/gsap.min.js", defer)
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js", defer)
  script(src="js/main.min.js", defer)
