section#master-class.hero
  .container.hero__container
    h2.visually-hidden Мастер-классы
    ul.grid.grid-hero.hero__list
      li.grid-hero__item-1.img-set--cover.hero__item_main.hero__img-inset_1.flex.flex-column.fit-content-childs
        +hashTag('#мастеркласс')(class="hero__hashTag")
        p.hero__desc Мастер-класс от Игоря Робова
        h3.hero__title Неоновый фотосет&nbsp;2.0 7 июля 20:00
        +btnPrim('Узнать больше')(id="master-class", class="hero__btn", type="button")
      li.grid-hero__item-subtitle
        h4.hero__subtitle Работы участников предыдущего мастер-класса
      li.grid-hero__item-2.img-set--cover.hero__img-inset_2
      li.grid-hero__item-3.img-set--cover.hero__img-inset_3
      li.grid-hero__item-4.img-set--cover.hero__img-inset_4
