section#projects.projects
  .container.projects__container
    h2.projects__title Наши проекты
    ul.grid.grid-projects
      li.grid-projects__item-1.flex.flex-column
          .projects__img-container.img-set--cover.projects__img-inset_1.flex
            +hashTag('#пейзаж')(class="projects__hashtag")
          p.projects__desc-small.projects__desc-small_camp2 Синтетически, смешаны с не уникальными данными до степени улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
          +calendar('16 июня')
      li.grid-projects__item-2.flex.flex-column
          .projects__img-container.img-set--cover.projects__img-inset_2.flex
            +hashTag('#портрет')(class="projects__hashtag")
          p.projects__desc-small.projects__desc-small_camp2 В своём стремлении улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
          +calendar('28 мая')
      li.grid-projects__item-3.flex.flex-column
          .projects__img-container.img-set--cover.projects__img-inset_3.flex
            +hashTag('#предмет')(class="projects__hashtag")
          p.projects__desc-small.projects__desc-small_camp2 Равным образом, высокое качество позиционных улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
          +calendar('14 мая')
      li.grid-projects__item-4.projects__item-big.img-set--cover.projects__img-inset_4.flex.flex-column
          +hashTag('#fuji')(class="projects__hashtag")
          +calendar('9 апреля')(class="projects__calendar")
          h3.projects__subtitle Cемантический разбор
          p.projects__desc-big В рамках спецификации современных стандартов, интерактивные прототипы
          +btnSec('О проекте')(id="projects-fuji", class="projects__btn", type="button")
      li.grid-projects__item-5.projects__item-big.img-set--cover.projects__img-inset_5.flex.flex-column
          +hashTag('#проектзабвение')(class="projects__hashtag")
          +calendar('20 марта')(class="projects__calendar")
          h3.projects__subtitle Забвение
          p.projects__desc-big Играет важную роль в формировании глубокомысленных рассуждений
          +btnSec('О проекте')(id="projects-oblivion", class="projects__btn", type="button")
      li.grid-projects__item-6.flex.flex-column
          .projects__img-container.img-set--cover.projects__img-inset_6.flex
            +hashTag('#ретушь')(class="projects__hashtag")
          p.projects__desc-small Как принято считать, многие известные личности и по сей день остаются уделом либералов улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
          +calendar('9 марта')
      li.grid-projects__item-7.flex.flex-column
            .projects__img-container.img-set--cover.projects__img-inset_7.flex
              +hashTag('#портрет')(class="projects__hashtag")
            p.projects__desc-small С учётом сложившейся международной обстановки, новая модель организационной улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
            +calendar('1 марта')
