- var menuItems = ['О студии', 'Наши проекты', 'Услуги', 'Мастер-классы', 'Контакты']

mixin contactPhone()
  a(href="tel:+749542423532").contact-phone
    span.contact-phone__contant
      svg.contact-phone__icon
        use(xlink:href="images/sprite.svg#telephone")
      span.contact-phone__text +7 495 424-23-532

mixin btnClose()
  button(type='button', class!=attributes.class, id!=attributes.id).btn-close
mixin btnClose()
  button(type='button', class!=attributes.class, id!=attributes.id).btn-close
    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="11.5" cy="11.5" r="11.5" fill="#808080"/>
      <rect x="7.13818" y="6.32501" width="13.8" height="1.15" transform="rotate(45 7.13818 6.32501)" fill="white"/>
      <rect x="6.43018" y="16.0832" width="13.8" height="1.15" transform="rotate(-45 6.43018 16.0832)" fill="white"/>
    </svg>

mixin hashTag(linkText)
  a.hashtag(class!=attributes.class, href=linkText)= linkText

mixin btnPrim(text)
  button(type='button', class!=attributes.class, id!=attributes.id).btn.btn__prim= text
mixin btnSec(text)
  button(type='button', class!=attributes.class, id!=attributes.id).btn.btn__sec= text

mixin calendar(date)
  .calendar.flex(class!=attributes.class)
    svg.calendar__icon
      use(xlink:href="images/sprite.svg#calendar")
    .calendar__date= date


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title High pass
    link(href="fonts/Roboto-Bold.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
    link(href="fonts/Roboto-Regular.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
    link(href="fonts/TTFirsNeue-Bold.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
    link(href="fonts/TTFirsNeue-Medium.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
    link(href="fonts/TTFirsNeue-Regular.woff2", rel="preload", as="font", type="font/woff2", crossorigin)
    link(rel="stylesheet", href="style.css")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU",type="text/javascript", defer)
    script(src="js/gsap.min.js", defer)
    script(src="main.js", defer)
  body
    header.header
      .container.header__container.grid.grid-header
        .header__logo.logo.grid-header__item-1
          svg.logo__svg
            use(xlink:href="images/sprite.svg#logo")
        h1.visually-hidden фотостудия High pass
        #burger-menu.header__menu.menu.grid-header__item-2
          button(type='button')#burger-menu__btn-open.menu__btn-open
            svg.menu__icon-open
              use(xlink:href="images/sprite.svg#burger")
          nav#burger-menu__wrap-list.menu__wrap-list
            +btnClose()(id="burger-menu__btn-close", class="menu__btn-close")
            ul#burger-menu__list.menu__list.grid.grid-menu
              each item in menuItems
                li.menu__item
                  a(href="#").menu__link= item
            #burger-menu__contact-phone.menu__contact-phone
              +contactPhone()
        .header__search.search.grid-header__item-3
          button#header-search__btn-open(type='button').search__btn-open
            svg.search__icon
              use(xlink:href="images/sprite.svg#search")
          form#header-search__form.search__form.display-none
            input#header-search__input(type="search", name="search", placeholder='Что будем иcкать?').search__input
            +btnClose()(id="header-search__btn-close", class="search__btn-close")
    main
      section#master-class.hero
        .container.hero__container
          h2.visually-hidden Мастер-классы
          ul.grid.grid-hero.hero__list
            li.grid-hero__item-1.img-set--cover.hero__item_main.hero__img-inset_1.flex.flex-column.fit-content-childs
              +hashTag('#мастеркласс')(class="hero__hashTag")
              p.hero__desc Мастер-класс от Игоря Робова
              h3.hero__title Неоновый фотосет&nbsp;2.0 7 июля 20:00
              +btnPrim('Узнать больше')(id="master-class", class="hero__btn")
            li.grid-hero__item-subtitle
              h4.hero__subtitle Работы участников предыдущего мастер-класса
            li.grid-hero__item-2.img-set--cover.hero__img-inset_2
            li.grid-hero__item-3.img-set--cover.hero__img-inset_3
            li.grid-hero__item-4.img-set--cover.hero__img-inset_4

      section#about.about
        .container.about__container
          .grid.grid-about
            .grid-about__left
              .about__articl-left.flex.flex-column
                h2.about__title О студии
                p.about__desc В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
            .grid-about__right
              .about__articl-right.flex.flex-column
                .about__img-1.img-set--cover.about__img-inset_1
                form(id="about-form", class="about__form, form-about")
                  h4.form-about__title Подписаться на рассылку
                  .form-about__wrap-input.flex
                    input#about-form__input(type="email", name="", placeholder='Email').form-about__input-email
                    +btnPrim('Отправить')(id="about-form__submit", class="form-about__submit", type="submit")

      section#projects.projects
        .container.projects__container
          h2.projects__title Наши проекты
          ul.grid.grid-projects
            li.grid-projects__item-1.flex.flex-column
                .projects__img-container.img-set--cover.projects__img-inset_1.flex
                  +hashTag('#пейзаж')(class="projects__hashtag")
                p.projects__desc-small.projects__desc-small_camp2 Синтетически, смешаны с не уникальными данными до степени улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
                +calendar('16 июня')
            li.grid-projects__item-2.flex.flex-column
                .projects__img-container.img-set--cover.projects__img-inset_2.flex
                  +hashTag('#портрет')(class="projects__hashtag")
                p.projects__desc-small.projects__desc-small_camp2 В своём стремлении улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
                +calendar('28 мая')
            li.grid-projects__item-3.flex.flex-column
                .projects__img-container.img-set--cover.projects__img-inset_3.flex
                  +hashTag('#предмет')(class="projects__hashtag")
                p.projects__desc-small.projects__desc-small_camp2 Равным образом, высокое качество позиционных улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
                +calendar('14 мая')
            li.grid-projects__item-4.projects__item-big.img-set--cover.projects__img-inset_4.flex.flex-column
                +hashTag('#fuji')(class="projects__hashtag")
                +calendar('9 апреля')(class="projects__calendar")
                h3.projects__subtitle Cемантический разбор
                p.projects__desc-big В рамках спецификации современных стандартов, интерактивные прототипы
                +btnSec('О проекте')(id="projects-fuji", class="projects__btn")
            li.grid-projects__item-5.projects__item-big.img-set--cover.projects__img-inset_5.flex.flex-column
                +hashTag('#проектзабвение')(class="projects__hashtag")
                +calendar('20 марта')(class="projects__calendar")
                h3.projects__subtitle Забвение
                p.projects__desc-big Играет важную роль в формировании глубокомысленных рассуждений
                +btnSec('О проекте')(id="projects-oblivion", class="projects__btn")
            li.grid-projects__item-6.flex.flex-column
                .projects__img-container.img-set--cover.projects__img-inset_6.flex
                  +hashTag('#ретушь')(class="projects__hashtag")
                p.projects__desc-small Как принято считать, многие известные личности и по сей день остаются уделом либералов улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
                +calendar('9 марта')
            li.grid-projects__item-7.flex.flex-column
                  .projects__img-container.img-set--cover.projects__img-inset_7.flex
                    +hashTag('#портрет')(class="projects__hashtag")
                  p.projects__desc-small С учётом сложившейся международной обстановки, новая модель организационной улучшить опыт мы упускаем, что явные улучшить опыт мы упускаем, что явные
                  +calendar('1 марта')

      section#contacts.contacts
        .container.contacts__container
          h2.contacts__title Контакты
          .grid.grid-contacts
            .map.grid-contacts__map
              #map.map__container
            #contact-card.contact-card.grid-contacts__card.flex
              +btnClose()(id="contact-card__btn-close", class="contact-card__btn-close")
              .contact-card__wrap
                h4.contact-card__title Студия «High pass»
                address.contact-card__address 107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82
                +contactPhone()
            .grid-contacts__form
              form(id="application-form", class="application-form__form, flex, flex-column")
                h4.application-form__title Оставить заявку
                p.application-form__desc Оставьте ваши данные, указав в графе «Комментарий» желаемые время и дату съёмки или другого мероприятия
                input#application-form__input-name(type="text", name="", placeholder='Имя').application-form__input
                input#application-form__input-email(type="email", name="", placeholder='Email').application-form__input
                textarea#application-form__input-comments(name="", cols="30", rows="6", placeholder='Комментарий').application-form__input.application-form__input_comments
                +btnPrim('Отправить')(id="application-form__submit", class="application-form__submit", type="submit")



