@import '_variables.scss';
@import '_extend.scss';


:root {
  --containerPaddingX: 31px;

  @media (max-width: $breakpoint-L) {
  }

  @media (max-width: $breakpoint-M) {
    --containerPaddingX: 27px;
  }

  @media (max-width: $breakpoint-SS) {
    --containerPaddingX: 21px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  opacity: 0;
}


.display-none {
  display: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-disable {
  pointer-events: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.fit-content-childs > * {
  width: fit-content;
}

.container {
  max-width: $containerMaxWidth;
  min-width: $containerMinWidth;
  padding: {
    right: var(--containerPaddingX);
    left: var(--containerPaddingX)
  }
  margin: 0 auto;
}

.img-set--cover {
  @extend %image-set--cover;
}

.hashtag {
  padding: 7px 15px;
  font-family: $font-Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $colorText-lite;
  background-color: $colorBacground-dark;
  @extend %animation-btn-up1;
  @media (max-width: $breakpoint-S) {
    padding: 4px 7px;
    font-size: 12px;
    line-height: 14px;
  }

}

.btn {
  width: fit-content;
  padding: 12px 20px;
  font-family: $font-Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: $colorText-lite;
  border: 3px solid transparent;
  @extend %transit-c-bc-brd;
  @media (max-width: $breakpoint-S) {
    padding: 9px 20px;
    font-size: 14px;
    line-height: 16px;
  }

}

.btn__prim {
  background-color: $colorOrange;
  &:focus:not(:hover) {
    border-color: $colorOrange-intense;
  }
  &:hover {
    background-color: $colorOrange-darken;
  }
  &:active {
    background-color: $colorOrange-intense;
  }
}

.btn__sec {
  background-color: transparent;
  border-color: $colorOrange;

  &:focus:not(:hover) {
    background-color: $colorOrange-darken;
  }
  &:hover {
    background-color: $colorOrange;
  }
  &:active {
    background-color: $colorOrange-intense;
    border-color: $colorOrange-intense;
  }
}

.contact-phone {
  display: inline-block;
  font-family: $font-Neue;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $colorOrange;
  border-bottom: 2px solid transparent;
  @extend %animation-link-up1;
  &__contant {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
}

.btn-close {
  width: 23px;
  height: 23px;

  @media (max-width: $breakpoint-S) {
    width: 18px;
    height: 18px;
  }

  & svg {
    & circle, & rect {
      transition-property: fill;
      transition-duration: $duration-btn;
    }
  }

  &:focus svg circle {
    fill: $colorOrange;
  }
  &:focus svg rect {
    fill: $colorBacground-dark;
  }
  &:hover svg circle {
    fill: $colorOrange;
  }
  &:hover svg rect {
    fill: $colorBacground-dark;
  }
  &:active svg circle {
    fill: $colorBacground-gray-50;
  }
  &:active svg rect {
    fill: $colorOrange-intense;
  }
}
