@import '_variables.scss';
@import '_mixins.scss';
@import '_extend.scss';

.contacts {
  &__container {
    padding: {
      top: 38px;
      bottom: 69px;
    };
    @media (max-width: $breakpoint-L) {
      padding: {
        top: 40px;
        // bottom: 69px;
      };

    }

  }
  &__title {
    @extend %Neue-bold-m-129;
    margin-bottom: 22px;
  }
}


.map {
  &__container {
    width: 100%;
    height: 100%;
  }
}
[class*="ground-pane"] {
  filter: grayscale(1);
}

.contact-card {
  z-index: 100;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: {
    top: 43px;
    bottom: 15px;
    left: 30px;
    right: 20px;
  };
  background-color: transparentize($colorBacground-dark, 0.15) ;
  @media (max-width: $breakpoint-L) {
    justify-content: start;
    padding-top: 20px;
  }

  &__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  &__wrap {
    max-width: 300px;
    @media (max-width: $breakpoint-L) {
      max-width: 400px;
    }
  }
  &__title {
    margin-bottom: 5px;
    @extend %Neue-reg-m-22;
    color: $colorText-lite;
  }
  &__address {
    margin-bottom: 5px;
    @extend %Roboto-reg-sl-28;
    font-style: normal;
    color: $colorText-gray;
  }
}

.application-form {
  &__title {
    @extend %Neue-reg-m;
    line-height: 10px;
    margin-bottom: 11px;
  }
  &__desc {
    @extend %Roboto-reg-sl-22_low;
    color: $colorText-gray-60;
    margin-bottom: 14px;
  }
  &__input {
    @extend %input-light;
    margin-bottom: 20px;
  }
  &__submit {
    margin-top: auto;
  }
}


