@import '_variables.scss';

%transit-c-bc-brd {
  transition-property: color border-color background-color;
  transition-duration: $duration-btn;
}

%transit-c-brd-trf {
  transition-property: color border-color transform;
  transition-duration: $duration-btn;
}

%transit-c {
  transition-property: color;
  transition-duration: $duration-btn;
}

%transit-brd {
  transition-property: border-color;
  transition-duration: $duration-btn;
}

%animation-link-up1 {
  @extend %transit-c-brd-trf;
  &:focus {
    border-color: $colorOrange;
  }
  &:hover {
    transform: translate(4px, -4px);
  }
  &:active {
    color: $colorOrange-intense;
    border-color: $colorOrange-intense;
  }
}

%animation-btn-up1 {
  @extend %transit-c-brd-trf;
  &:focus:not(:hover) {
    border-color: $colorOrange-darken;
  }
  &:hover {
    color: $colorOrange;
    transform: translate(4px, -4px);
  }
  &:active {
    color: $colorOrange-intense;
  }
}


%image-set--cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $colorBacground-gray;
}

%title-h2 {
  font-family: $font-Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  @media (max-width: $breakpoint-S) {
    font-size: 18px;
    line-height: 23px;
  }
}

%title-h3 {
  font-family: $font-Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  @media (max-width: $breakpoint-S) {
    font-size: 18px;
    line-height: 23px;
  }
}

%title-h4 {
  font-family: $font-Neue;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  @media (max-width: $breakpoint-S) {
    font-size: 18px;
  }
}

%text-main {
  font-family: $font-Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  @media (max-width: $breakpoint-S) {
    font-size: 14px;
    line-height: 18px;
  }
}

%text-small {
  font-family: $font-Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @media (max-width: $breakpoint-S) {
    font-size: 14px;
    line-height: 18px;
  }
}

%text-input {
  font-family: $font-Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

%input {
  width: 100%;
  padding: 15px 23px;
  @extend %text-input;
  border: 1px solid transparent;
  @extend %transit-brd;
  &::placeholder {
    color: $colorText-gray;
    @extend %transit-c;
  }
  &:focus:not(:hover) {
    border-color: $colorOrange;
  }
  &:hover::placeholder {
    color: $colorOrange;
  }
  @media (max-width: $breakpoint-S) {
    padding: 10px 22px;
  }
}

%input-dark {
  @extend %input;
  color: $colorText-lite;
  background-color: $colorBacground-gray;
}

%input-light {
  @extend %input;
  background-color: $colorBacground-gray-90;
}
