@import '_variables.scss';

%animation-link-up1 {
  transition-property: color border-color transform;
  transition-duration: $duration-btn;
  &:focus {
    border-color: $colorOrange;
  }
  &:hover {
    transform: translate(4px, -4px);
  }
  &:active {
    color: $colorOrange-intense;
    border-color: $colorOrange-intense;
  }
}

%animation-btn-up1 {
  transition-property: color border-color transform;
  transition-duration: $duration-btn;
  &:focus:not(:hover) {
    border-color: $colorOrange-darken;
  }
  &:hover {
    color: $colorOrange;
    transform: translate(4px, -4px);
  }
  &:active {
    color: $colorOrange-intense;
  }
}
