@import '_variables.scss';

.search {
  display: flex;
  &__btn-open {
    width: 35px;
    height: 35px;
    padding: 4px;
    border: 2px solid transparent;
    color: $colorText-lite;
    @extend %animation-btn-up1;
    @media (max-width: $breakpoint-S) {
      width: 32px;
      height: 32px;
    }
  }

  &__form {
    position: absolute;
    top: 0;
    right: 0;
    padding: {
      top: 20px;
      bottom: 20px;
      right: var(--containerPaddingX);
      left: var(--containerPaddingX);
    };
    align-items: center;
    background-color: $colorBacground-dark;
  }
  &__input {
    width: 308px;
    margin-right: 11px;
    padding: {
      top: 4px;
      bottom: 4px;
    };
    font-family: $font-Neue;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $colorText-lite;
    background-color: inherit;
    border-bottom: 1px solid $colorText-lite;
    @media (max-width: $breakpoint-S) {
      width: 248px;
    }
  }
}
