$breakpoint-L: 1024px;
$breakpoint-LS: 1110px;
$breakpoint-MX: 962px;
$breakpoint-M: 768px;
$breakpoint-MS: 520px;
$breakpoint-S: 320px;

$containerMaxWidth: 1352px;
$containerPaddingX: 31px;

$colorBacground-dark: hsla(0, 0%, 13%, 1);
$colorBacground-gray: hsla(0, 0%, 29%, 1);
$colorBacground-gray-light: hsla(0, 0%, 50%, 1);
$colorOrange: hsla(18, 100%, 59%, 1);
$colorOrange-intense: hsla(18, 93%, 42%, 1);
$colorOrange-darken: hsla(18, 63%, 45%, 1);
$clolrText-lite: hsla(0, 0%, 100%, 1);

$duration-btn: 500ms;

$font-Neue: "TT Firs Neue";
$font-Roboto: "Roboto";




