- var menuItems = ['О студии', 'Наши проекты', 'Услуги', 'Мастер-классы', 'Контакты']

mixin logo()
  svg(class!=attributes.class).logo
    use(xlink:href="img/sprite.svg#logo")

mixin contactPhone()
  a(href="tel:+749542423532").contact-phone
    span.contact-phone__contant
      svg.contact-phone__icon
        use(xlink:href="img/sprite.svg#telephone")
      span.contact-phone__text +7 495 424-23-532

mixin btnClose()
  button(type='button', class!=attributes.class, id!=attributes.id).btn-close
mixin btnClose()
  button(type='button', class!=attributes.class, id!=attributes.id).btn-close
    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="11.5" cy="11.5" r="11.5" fill="#808080"/>
      <rect x="7.13818" y="6.32501" width="13.8" height="1.15" transform="rotate(45 7.13818 6.32501)" fill="white"/>
      <rect x="6.43018" y="16.0832" width="13.8" height="1.15" transform="rotate(-45 6.43018 16.0832)" fill="white"/>
    </svg>

mixin hashTag(linkText)
  a.hashtag(class!=attributes.class, href=linkText)= linkText

mixin btnPrim(text)
  button(type!=attributes.type, class!=attributes.class, id!=attributes.id).btn.btn__prim= text
mixin btnSec(text)
  button(type!=attributes.type, class!=attributes.class, id!=attributes.id).btn.btn__sec= text

mixin calendar(date)
  .calendar.flex(class!=attributes.class)
    svg.calendar__icon
      use(xlink:href="img/sprite.svg#calendar")
    .calendar__date= date


doctype html
html(lang="ru")
  include html/head
  body
    include html/header
    main
      include html/hero
      include html/about
      include html/projects
      include html/contacts
    include html/footer










