@import '_variables.scss';
@import '_mixins.scss';
@import '_extend.scss';

.contacts {
  &__container {
    padding: {
      top: 38px;
      bottom: 68px;
    }
    @media (max-width: $breakpoint-L) {
      padding: {
        top: 40px;
        bottom: 69px;
      };
    }
    @media (max-width: $breakpoint-MX) {
      padding: {
        // top: 40px;
        bottom: 67px;
      };
    }
    @media (max-width: $breakpoint-S) {
      padding: {
        top: 13px;
        bottom: 50px;
      };
    }
  }
  &__title {
    @extend %Neue-bold-m-129;
    margin-bottom: 22px;
    @media (max-width: $breakpoint-S) {
      margin-bottom: 12px;
    }
  }
}
.map {
  @media (max-width: $breakpoint-S) {
    @include full-wight;
  }
}
[class*="ground-pane"] {
  filter: grayscale(1);
}

.contact-card {
  z-index: 100;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: {
    top: 43px;
    bottom: 15px;
    left: 30px;
    right: 20px;
  }
  background-color: transparentize($colorBacground-dark, 0.15) ;
  @media (max-width: $breakpoint-L) {
    justify-content: start;
    padding-top: 20px;
  }
  @media (max-width: $breakpoint-M) {
    padding: {
      top: 22px;
      bottom: 20px;
    }
  }
  @media (max-width: $breakpoint-S) {
    height: fit-content;
    @include full-wight;
    padding: {
      top: 26px;
      left: 20px;
      bottom: 10px;
    }
  }

  &__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  &__wrap {
    max-width: 300px;
    @media (max-width: $breakpoint-L) {
      max-width: 400px;
    }
    @media (max-width: $breakpoint-S) {
      max-width: 268px;
    }
  }
  &__title {
    margin-bottom: 5px;
    @extend %Neue-reg-m-22;
    color: $colorText-lite;
    @media (max-width: $breakpoint-S) {
      margin-bottom: 11px;
    }

  }
  &__address {
    margin-bottom: 5px;
    @extend %Roboto-reg-sl-28-18;
    font-style: normal;
    color: $colorText-gray;
    @media (max-width: $breakpoint-S) {
      margin-bottom: 11px;
    }
  }
}

.application-form {
  &__form {
    height: 100%;
    @media (max-width: $breakpoint-L) {
      max-width: 466px;
    }
  }
  &__title {
    @extend %Neue-reg-m;
    line-height: 10px;
    margin-bottom: 11px;
    @media (max-width: $breakpoint-S) {
      margin-bottom: 9px;
      line-height: 22px;
    }
  }
  &__desc {
    @extend %Roboto-reg-sl-22-18;
    color: $colorText-gray-60;
    margin-bottom: 14px;
    @media (max-width: $breakpoint-S) {
      line-height: 18px;
      margin-bottom: 15px;
    }
  }
  &__lable {
    margin-bottom: 20px;
  }
  &__input {
    @extend %input-light;
    @media (max-width: $breakpoint-S) {
      padding: {
        top: 11px;
        bottom: 11px;
      };
    }
  }
  &__submit {
    margin-top: auto;
  }
}


